In [1]:
import pandas as pd

In [2]:
data = {'col1': [1, 2, 3],
        'col2': [4, 5, 6],}
df = pd.DataFrame(data)
df.head()

   col1  col2
0     1     4
1     2     5
2     3     6

In [3]:
df['col3'] = df['col1'].apply(lambda x : x**2)
df.head()

   col1  col2  col3
0     1     4     1
1     2     5     4
2     3     6     9

In [7]:
data = {'col1': [1, 2, None, 4, 5],
        'col2': ['A', 'B', None, 'D', 'E'],
        'col3': ['X', 'Y', 'Z', 'X', 'Y']}
df = pd.DataFrame(data)
missing_values = df.isnull().any()
print(f'Missing values: \n{missing_values}')

Missing values:
col1     True
col2     True
col3    False
dtype: bool

In [6]:
duplicate_values = df.nunique()
print(f'Duplicate values: \n{duplicate_values}')

Duplicate values:
col1    4
col2    4
col3    3
dtype: int64