In [1]:
import pandas as pd
from jupyterlab.semver import valid

In [2]:
data = {'col1': [1, 2, 3],
        'col2': [4, 5, 6],}
df = pd.DataFrame(data)
df.head()

   col1  col2
0     1     4
1     2     5
2     3     6

In [3]:
df['col3'] = df['col1'].apply(lambda x : x**2)
df.head()

   col1  col2  col3
0     1     4     1
1     2     5     4
2     3     6     9

In [7]:
data = {'col1': [1, 2, None, 4, 5],
        'col2': ['A', 'B', None, 'D', 'E'],
        'col3': ['X', 'Y', 'Z', 'X', 'Y']}
df = pd.DataFrame(data)
missing_values = df.isnull().any()
print(f'Missing values: \n{missing_values}')

Missing values:
col1     True
col2     True
col3    False
dtype: bool

In [6]:
duplicate_values = df.nunique()
print(f'Duplicate values: \n{duplicate_values}')

Duplicate values:
col1    4
col2    4
col3    3
dtype: int64

In [31]:
# Fibonacci Algorithm sum of the last two elements
next_elem = [0, 1]
for i in range(0, 10):
    next_elem.append(next_elem[-1] + next_elem[-2])
print(next_elem)

# using recursion
def F(n):
    if n <=1:
        return n
    else:
        return F(n-1) + F(n-2)
print(F(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
55

In [48]:
# Bubble Sort to find the smallest
values = [7,12,9,11,3]

for i in range(len(values)-1):
    for j in range(len(values) -i -1):
        if values[j] >= values[j + 1]:
            values[j], values[j+1] = values[j+1], values[j]
print(values)

[3, 7, 9, 11, 12]